
.flow-layer {
    position: absolute;
    overflow: visible;
    box-sizing: border-box;
    border-width: 0px;
}

.flow-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-width: 0px;
}

.flow-border {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px;
}

#Timeline.flow-artboard {
    width: 264px;
    height: 80px;
    overflow: visible;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    background-color: #FFFFFF;
    visibility: visible;
    pointer-events: none;
}


#Timeline .形状 {
    width: 16.7px;
    height: 20.13px;
    left: 24px;
    top: 30px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .形状-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 1.3px;
}

#Timeline .形状_1 {
    width: 14.18px;
    height: 15.96px;
    left: 42.76px;
    top: 34.72px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .形状_1-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 1.3px;
}

#Timeline .矩形 {
    width: 4.2px;
    height: 21.42px;
    left: 59.54px;
    top: 28.98px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .矩形-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 1.3px;
}

#Timeline .形状_2 {
    width: 14.92px;
    height: 15.96px;
    left: 66.36px;
    top: 34.72px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .形状_2-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 1.3px;
}

#Timeline .形状_3 {
    width: 4.57px;
    height: 21.42px;
    left: 83.73px;
    top: 28.98px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .形状_3-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 1.3px;
}

#Timeline .路径 {
    width: 10.68px;
    height: 18.94px;
    left: 90.11px;
    top: 31.74px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .路径-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 1.3px;
}

#Timeline .路径_1 {
    width: 10.68px;
    height: 18.94px;
    left: 101.5px;
    top: 31.73px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .路径_1-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 1.3px;
}

#Timeline .形状_4 {
    width: 14.18px;
    height: 15.96px;
    left: 113.52px;
    top: 34.72px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .形状_4-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 1.3px;
}

#Timeline .椭圆形 {
    width: 7.78px;
    height: 7.78px;
    left: 128.69px;
    top: 42.81px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .椭圆形-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #86BC25;
    stroke-width: 1.3px;
}

#Timeline .rectangle_2070 {
    width: 0.98px;
    height: 20.31px;
    left: 144.75px;
    top: 29.84px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .rectangle_2070-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #D9D9D9;
    stroke-width: 1.42px;
}

#Timeline .union {
    width: 86px;
    height: 22.12px;
    left: 154px;
    top: 28.34px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    opacity: 0;
    background-color: #00000000;
    overflow: hidden;
}

#Timeline .union-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 0.5px;
}

#Timeline .vector {
    width: 5px;
    height: 5px;
    left: 153.7px;
    top: 28.03px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .vector-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #86BC25;
    stroke-width: 0.5px;
}

#Timeline .i {
    width: 4.28px;
    height: 14.71px;
    left: 154px;
    top: 35.25px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: hidden;
}

#Timeline .i-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 0.5px;
}

#Timeline .s {
    width: 14.01px;
    height: 21.36px;
    left: 161.5px;
    top: 28.8px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: hidden;
}

#Timeline .s-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 0.5px;
}

#Timeline .t {
    width: 10.08px;
    height: 19.55px;
    left: 176.5px;
    top: 30.5px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: hidden;
}

#Timeline .t-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 0.5px;
}

#Timeline .union_1 {
    width: 20.35px;
    height: 19.45px;
    left: 188.16px;
    top: 32.52px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: visible;
}

#Timeline .union_1-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #86BC25;
    stroke-width: 0.5px;
}

#Timeline .c {
    width: 11.89px;
    height: 15.42px;
    left: 210.68px;
    top: 35px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: hidden;
}

#Timeline .c-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 0.5px;
}

#Timeline .k {
    width: 14.41px;
    height: 21.77px;
    left: 225.5px;
    top: 28.5px;
    transform: translate(-0%, -0%) rotate(0deg);
    transform-origin: 0% 0%;
    background-color: #00000000;
    overflow: hidden;
}

#Timeline .k-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: #252525;
    stroke-width: 0.5px;
}


path {
    fill-rule: evenodd; 
}

svg {
   overflow: visible;
}