// sidebar
$menuText:#4E5969;
$menuActiveText:#012169;
$subMenuActiveText:#012169; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#FFFFFF;
$menuHover:#EBF8FD;

$subMenuBg:#FFFFFF;
$subMenuHover:#EBF8FD;

// $sideBarWidth: 210px;
// $sideBarWidth: 312px;
$sideBarWidth: 264px;

$primaryColor: #0E65A0;
$grayFstText: #4E5969;
$graySedText: #C0C4CC;
$grayBg: #F2F3F5;
$yellowText: #E6A23C;
$yellowBg: #FAECD8;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
